body {
    background-color: #edd947;
    font-family: "Varela Round", sans-serif;
    color: black;
    text-align: center;
}

/* --------- Game layout --------*/

.game-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 20vh 20vh 20vh;
    margin: 0;
    gap: 10px;
    background-color: #edd947;
}

.game-area > div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* --------- heading --------*/

.logo {
    grid-column: 2 / 6;
    margin-bottom: 6vh;
}

.logo > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* --------- result display --------*/

.ladder-area {
    grid-column: 3 / 4;
}

.ladder {
    width: 250px;
    height: 180px;
    transition-duration: 2;
    object-fit: none;
    object-position: bottom;
    overflow: hidden;
    border: solid 5px #2b46bd;
    border-radius: 5%;
    margin-right: 20px;
    float: right;
    
}

.move-ladder {
    transition-property: object-position;
    transition-duration: 2s;
    object-position: top;
}

.answer-box {
    grid-column: 4 / 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f2eddb;
    border: solid 5px #2b46bd;
    margin: auto;
    border-radius: 10%;
    min-width: 180px;
    max-width: 180px;
}

.answer-box > h1 {
    font-size: 4rem;
    margin: 10px 0 0 0;
}

/* --------- controls area --------*/

.game-controls-area {
    grid-column: 3 / 5;
}

.info-area {
    grid-column: 5 / 6;
}

/* --------- answer area --------*/

.answer-button-area {
    grid-column: 3 / 5;
}

/* --------- Buttons */

.btn {
    width: 45%;
    height: 60%;
    font-family: "Varela Round", sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btn:focus {
    outline: none;
}

.btn--big {
    border: none;
    background-color: #edd947;
    font-size: 5rem;
    transition: all 0.5s;
}

.btn--big::after{
    content:attr(data-type);
    font-size: 1rem;
    color: #445361;
    position: relative;
    left: -0.5rem;
}

.btn--red {  
    color: #c42217;
}

.btn--red:active,
.btn--red:hover {
    color: darkred;
}

.btn--green {
    color: #2b46bd;
}

.btn--green:active,
.btn--green:hover {  
    color: #1d7151;
}

.btn--gray {
    margin-top: 25px;
    background-color: #1d7151;
    border: 1px transparent;
    border-radius: 20px;
    color: #f2eddb;
    transition: all 0.5s;
    
}

.btn--gray:active,
.btn--gray:hover {
    transition: all 0.5s;
    background-color: #2b46bd;
    color: #f2eddb
}

/*---------- Info lightbox */

.info-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 150px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-animation: fadein 1s linear forwards;
    animation: fadein 1s linear forwards;
    opacity: 0;
}

@-webkit-keyframes fadein {
  100% { opacity: 1; }
}

@keyframes fadein {
  100% { opacity: 1; }
}

.info-modal-content {
    position: relative;
    background-color: #edd947;
    color: #1d7151;
    margin: auto;
    padding: 5%;
    max-width: 600px;
}

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }

/* --------- Game over modal */

.game-over-content {
    
}


/* --------- Media queries */

@media (max-width: 414px) {
    .game-area {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto 20vh 20vh 20vh;
    }
    .logo {
        grid-column: 1 / 3;
    }
    .ladder {
        grid-column: 1 / 2;
    }
    .answer-box {
        grid-column: 2 / 3;
    }
    .game-controls-area {
        grid-column: 1 / 3;
    }
    .answer-button-area {
        grid-column: 1 / 3;
    }
    .info-area {
        grid-column: 1 / 3;
    }
}    
/*     

    /* .btn--big {
        margin: 0 10px;
        padding: 5px;
        border: 5px solid;
        width: 50px;
        height: 50px;
        font-size: 1.5rem;
    }

    .btn--big::after {
        font-size: 0.6rem;
        left: -0.7rem;
    }

    .question-area {
        padding: 10% 0;
        width: 100%;
    }

    .question-area span {
        padding: 0;
    }

    .answer-message {
        display: block;
    }

    #answer-box {
        display: block;
        margin: 0 auto;
    }
    .btn--gray {
        margin-top: 0;
    }

    .score-area {
        width: 100%;
    }

    .scores {
        margin: 0.5em auto;
        display: block;
        padding: 5px;
    }

    .heading {
        font-size: 2rem;
    } */


/* @media (max-width: 320px) {
    .game-area {
        height: 70vh;
    }

    .controls-area {
        width: 75%;
        margin: 10px auto;
    }

    .btn--big {
        margin: 10px 10px;
    }
    .question-area {
        padding: 10px 0;
    }

} */ 